sentence-transformers>=3.1.1
transformers>=4.44.2
beir>=2.0.0
beautifulsoup4
numexpr
bottleneck
timm
gdown
torchdiffeq
geotorch
git+https://github.com/embeddings-benchmark/mteb.git
git+https://github.com/RobustBench/robustbench.git
git+https://github.com/fra31/auto-attack.git@a39220048b3c9f2cca9a4d3a54604793c68eca7e#egg=autoattack